<div class="container-1">
    <section class="right">
        <section class="references">
            <h2>References</h2>
            <div class="reference-box">
                <h3>MEVN Fullstack Application</h3>
                <img src="https://scontent.fmnl9-5.fna.fbcdn.net/v/t39.30808-6/468675883_3959573517648861_5629195661542605412_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFRi1cRLclZYLDNM1vHfB6nE0QWjC-St8ETRBaML5K3wbl67XNY_tn1g73t_v8sGKz9J-YhkbT2Rb1_zRWFrw1U&_nc_ohc=s76c2W-k6zcQ7kNvgFlbCCi&_nc_zt=23&_nc_ht=scontent.fmnl9-5.fna&_nc_gid=AlYWEMFvA3qEyWsAh541o6r&oh=00_AYAfq899Xc1lcRuGDeLEbPK5aMNmthyGxJ3NdSY4aF_TUw&oe=674F729E" alt="Image 1">
                <h3>Library Management System Tall Tales</h3>
                <img src="https://scontent.fmnl9-3.fna.fbcdn.net/v/t39.30808-6/468812127_3959573727648840_3568855882783026343_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFBlZy4eTJlGNp_rdgEeSved5Hx4Mje_QJ3kfHgyN79Al5maDSukH9Ax6X05jtnMUYjn3gfMoYC75kGnIY8TiYu&_nc_ohc=qvDj7LeE5PQQ7kNvgHX9img&_nc_zt=23&_nc_ht=scontent.fmnl9-3.fna&_nc_gid=AfAJBaQYzHutrJDfDFQDhSy&oh=00_AYAgHwP6JXnJoBPueVXLR_DK_nzOx8uA6oPTGWKJCuNL5Q&oe=674F6D28" alt="Image 2">
                <h3>Frontend design for a Business</h3>
                <img src="https://scontent.fmnl9-7.fna.fbcdn.net/v/t39.30808-6/468815816_3959573900982156_2938761250299453972_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeG8rAE-FP8xQyokGD8EZgx0eh2AULu1pfF6HYBQu7Wl8ZcyCvYG5Be8lQP3MgiJWVM_YK7FPFUrgrrRlUazWI_q&_nc_ohc=88rS-jnBcjMQ7kNvgFVjq3J&_nc_zt=23&_nc_ht=scontent.fmnl9-7.fna&_nc_gid=A9HMviB8IvM9Vg5Q6oD_hTU&oh=00_AYD3MibqSEU0l7--YI3gCKp47OxJbYYGLiMxR1szxmtOhQ&oe=674F701B" alt="Image 3">
            </div>
        </section>
    </section>
</div>

