<div *ngIf="isLoggedIn">Welcome, User!</div>
<div *ngIf="!isLoggedIn">Please Log in.</div>
<div *ngIf="condition">Content to render when condition is true.</div>

<ng-template [ngIf]="condition">
  <div>Content to render when condition is true using template</div>
</ng-template>

<div *ngIf="condition; else elseBlock">
  Content to render when the condition is true.
</div>
<ng-template #elseBlock
  >Content to render when the condition is false</ng-template
>

<div *ngIf="condition; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock></ng-template>
<ng-template #elseBlock></ng-template>

<ul>
  <li *ngFor="let fruit of fruits">{{ fruit }}</li>
</ul>
