<body>
    <div class="container-1">
        <section class="right">
            <section class="projects">
                <h2>Projects</h2>
                <div class="project-box">
                    <h3>Library Management System</h3>
                    <p>Created a system to manage library operations, including book checkouts, returns, and user management. Implemented a user-friendly interface and robust backend using modern web technologies.</p>
                </div>
                <div class="project-box">
                    <h3>Employee Scheduling System</h3>
                    <p>Developed a comprehensive scheduling system for a restaurant, incorporating features such as shift management, employee availability, and automated notifications. Utilized Node.js for the backend and React for the frontend.</p>
                </div>
                <div class="project-box">
                    <h3>Barangay Management System</h3>
                    <p>Contributed to the development of a management system to address common challenges faced by barangays, improving efficiency in handling administrative tasks and community services.</p>
                </div>
                <div class="project-box">
                    <h3>Fullstack MEVN Website for Restaurant</h3>
                    <p>Developed a Fullstack website that uses MongoDB, Express.js, Vue.js, and Node.js for a restaurant website that has both reservation and review system</p>
                </div>
            </section>
        </section>
    </div>
</body>
