<body>
    <div class="container-1">
        <section class="left">
            <section class="profile">
                <h1>Personal Information</h1>
                <img src="https://scontent.fmnl8-1.fna.fbcdn.net/v/t39.30808-6/468732859_3958917807714432_3319205676942650069_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=833d8c&_nc_ohc=l65mLIVKrw8Q7kNvgFDLTf8&_nc_zt=23&_nc_ht=scontent.fmnl8-1.fna&_nc_gid=AserQ_1d7GpEX92Pzlxdwkj&oh=00_AYArnbP656l5tBbHIIZ8Zj9E8X902eFsYDHZe5b06-AJ5g&oe=674E70BC">
                <h2>Jose Favian Pascual Reyes</h2>
                <p>
                    Birthdate: April 26, 2004 <br>
                    Barangay Aguinaldo, Santa Rosa, Nueva Ecija, Philippines<br>
                    Phone: 0945-607-5477<br>
                    Email: jb1289716&#64;gmail.com<br>
                    LinkedIn: jb1289716&#64;gmail.com<br>
                    GitHub: <a href="https://github.com/saeechy" target="_blank">https://github.com/saeechy</a>
                </p>
            </section>
    
            <section class="summary">
                <h2>Professional Summary</h2>
                <p>Motivated and detail-oriented college graduate with a strong foundation in web development. Proficient in HTML, CSS, JavaScript, and various modern frameworks and libraries. Eager to apply my skills and knowledge to real-world projects and grow as a professional in the tech industry.</p>
            </section>
        </section>
    </div>
</body>
