<body>
    <div class="container-1">
        <section class="right">
            <section class="skills">
                <h2>Technical Skills</h2>
                <ul>
                    <li>Languages: HTML, CSS, JavaScript</li>
                    <li>Frameworks and Libraries: MongoDB, Express, Vue, React, Node</li>
                    <li>Tools and Platforms: Git, GitHub, Visual Studio Code, npm</li>
                    <li>Other: Responsive Web Design, Cross-Browser Compatibility, RESTful APIs</li>
                </ul>
            </section>
        </section>
    </div>
</body>
